@import "reset.css";

body {
    display: block;
    width: 100%;
    min-width:1920px;
}

.head {
    background-image: url("../img/backgraunde/img-back.png");
    width: 100%;
    height: 1012px;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-intro-text {
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    height: 122px;
    width: 100%;
}

.head-intro-text {
    font-family: Montserrat, sans-serif;
    font-size: 15.4281pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.head-intro-logo {
    font-size: 40pt;
    margin: 28px 8px 0 300px;
    color: rgba(255, 255, 255, 255);
    background-color: #18cfab;
    width: 58px;
    height: 67px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}


.head-text {
    font-family: Montserrat, sans-serif;
    width: 176px;
    height: 24px;
    font-size: 32pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top: 37px;
    font-weight: 400;
    margin-left: 5px;
}

.intro-text {
    font-family: Montserrat -Bold, sans-serif;
    font-weight: 700;
    color: #18cfab;
}

.head-menu {
    margin: 10px 0 0 259px;
    font-family: Montserrat, sans-serif;

}

.head-menu-text {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    font-size: 13pt;
    color: #b8b8b8;
    text-align: left;
    margin-right: 13px;
    position: relative;
    line-height: 111px;
    margin-top: 20px;
    cursor: pointer;
}

.head-menu-text:hover {
    color: rgba(24, 207, 171, 255);
}

.head-menu-text:hover::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    top: 68px;
    right: 4px;

}

.fa-search {
    color: #bbbbbb;
}


.head-heading-title {
    font-weight: 700;
    font-size: 35pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin-top: 246px;
    font-family: ﻿Montserrat-Bold, sans-serif;
}

.heading-title-text {
    color: rgba(255, 255, 255, 255);
}

.heading-title-ham {
    color: #18cfab;
}

.heading-title-creative {
    font-weight: 700;
    margin-top: 45px;
    font-size: 75pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-family: ﻿Montserrat-Bold, sans-serif;
}

.heading-title-just {
    font-size: 40px;
    color: rgba(212, 212, 212, 255);
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin-top: 45px;
}

.head-button {
    margin-top: 142px;
    display: flex;
    justify-content: center;
    text-decoration: none;

}

.head-button-explore {
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    margin: 0 auto;
    border-radius: 8px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border-top: 4px solid white;

}

.head-button-purchase {
    width: 166px;
    text-decoration: none;
    height: 61px;
    background-color: #00cbf6;
    margin: 0 auto;
    border-radius: 8px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border-top: 4px solid white;
}

.head-button-explore {
    text-decoration: none;
}

.head-button-purchase {
    margin-left: -690px;
    text-decoration: none;
}

.selective-menu {
    display: flex;
    text-decoration: none;
}

.button-click,
.button-lamp {
    display: flex;
    justify-content: center;
    background-color: #1c2a33;
    width: 490px;
    background-size: cover;
    height: 376px;
}

.button-diamond,
.button-phone {
    background-color: #18cfab;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 490px;
    height: 376px;

}

.selective-menu {
    display: flex;
    justify-content: center;

}

.url-point {
    margin-top: 95px;
    text-decoration: none;
}

.selective-image-click {
    width: 58pt;
    height: 97pt;
    margin-left: 80px;
}

.selective-image-diamond {
    width: 93pt;
    height: 75pt;
    margin-left: 55px;
}

.selective-image-lamp {
    width: 60pt;
    height: 96pt;
    margin-left: 63px;
}

.selective-image-phone {
    width: 99pt;
    height: 76pt;
    margin-left: 80px;
}

.selective-text {
    margin-top: 50px;
    text-align: center;
    color: #18cfab;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.selective-text-white {
    margin-top: 70px;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.intro-hide {
    color: #4e4e4e;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 82px;
    text-align: center;
    position: relative;
}

.tabs {
    margin-top: 80px;
    max-width: 1160px;
    margin-left: 389px;
}

.tabs-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}

.tabs-menu li {
    width: 158px;
    height: 73px;
    padding: 9px 15px;
    margin: 1px 0 0 1px;
    position: relative;
    text-align: center;
    border-top: solid 1px #ececec;
    border-left: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
    color: #717171;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 74px;
}

.tabs-menu .active {
    background: #18cfab;
    color: white;
    position: relative;
}

.tabs-menu .active:after {
    content: '';
    border: 12px solid transparent;
    border-top: 12px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -24px;
    width: 0;
}

.tabs-header {
    display: none;
    background: #FFF;
    padding: 7px 15px;
    margin-bottom: 103px;
    width: 927px;
    height: 136px;
    color: #777777;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.tabs-header.active {
    display: block;
    padding-top: 25px;
}

.tabs-text {
    width: 157%;

}

.img-main {
    float: left;
    width: 194px;
    height: 139px;
    margin-left: 371px;
    padding-right: 21px;
}

.just-bay {
    background-image: url("../img/backgraunde/img-back2.png");
    display: flex;
    width: 100%;
    height: 476px;
    background-repeat: no-repeat;
    background-size: cover;
}

.just-back {
    background: rgba(0, 0, 0, 0.81);
    width: 100%;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-family: ﻿Montserrat-Bold, sans-serif;
}

.first-text {
    font-weight: 600;
    margin-top: 126px;
    margin-bottom: 35px;
    font-size: 39.55001pt;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    font-family: ﻿Montserrat-Bold, sans-serif;
}

.second-text {
    margin-bottom: 76px;
    font-size: 18px;
    color: rgba(216, 216, 216, 0.65);
    font-family: ﻿Montserrat-Bold, sans-serif;
    text-align: center;
}

.title-button-irl {
    text-decoration: none;
}

.title-button-text {
    width: 165px;
    height: 61px;
    background-color: #18cfab;
    margin: 0 auto;
    border-radius: 4px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    border-top: 4px solid white;

}

.our-work-text {
    color: #4e4e4e;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 400;
    margin-top: 82px;
    text-align: center;
    position: relative;
}

.news-photography {
    margin-right: 345px;
    grid-area: middle;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 45px;

}

.news-gallary {
    grid-area: middle;
    margin-bottom: 81px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 45px;

}

.news-gallery-photography {
    position: relative;
}

.img-photography {
    display: block;
    width: 100%;
}

.photography {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.photography-gallery {
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 72px;
}

.header-gallery {
    padding-left: 13px;
    color: #717171;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    transition: color 0.3s ease-in;
}

.header-gallery-text {
    color: #777777;
    padding-left: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.header-gallery:hover {
    color: #18cfab;
}

.date-time {
    font-weight: 400;
    display: flex;
    color: #ffffff;
    position: absolute;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    font-size: 16px;
    font-family: ﻿Montserrat-Bold, sans-serif;
    transition: background-color 0.3s ease-in;
}

.date-time:hover {
    background-color: #18cfab;
}

.and {
    margin-bottom: 11px;
    display: flex;
    background-color: #22353f;
    width: 100%;
    height: 108px;
}

.and-text {
    margin: 47px 0 0 720px;
    font-size: 15pt;
    color: rgba(174, 174, 174, 255);
    text-align: center;
}

.and-text-blue {
    color: #18cfab;
}